################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/
/Api/obj/
/Api/Properties/
/Dal/bin/
/Dal/obj/
/Dto/bin/
/Dto/obj/
/Model/bin/
/Model/obj/
/.idea/.gitignore
.idea/.idea.UrbanSisters
/.idea/
/Api/Api.csproj.user
/Api/appsettings.json
